@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --sidebar-color: #C63D2F;
    --accent-color: #FFBB5C;
    --main-background-color: #F4F2DE;
    --text-color: #e9dcdb;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* CONTAINER */

/* .container {

} */

/* HEADER */

.header {
    background-color: var(--text-color);
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    padding: 0.5rem 1rem;
}

.search {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 15px;
}

.search input{
    border-radius: 24px;
    border-style: none;
    background-color: var(--main-background-color);
    padding-left: 20px;
    padding-right: 20px;
}

.profile {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
    padding-right: 1.8rem;
}

.profile > img:nth-child(2) {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.welcome {
    display: flex;
    place-items: center;
    gap: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

.welcome > div > p:first-child {
    font-size: 1rem;
}

.welcome > img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.buttons {
    display: flex;
    gap: 15px;
    place-self: center;
}

button {
    padding: 8px 16px;
    border-radius: 20px;
    border-style: none;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    width: 120px;
}

/* LEFT SIDEBAR */

.main-icon {
    width: 3rem;
    height: 3rem;
}

.left-sidebar {
    background-color: var(--sidebar-color);
    display: grid;
    gap: 42px;
    font-weight: bold;
    padding: 15px 15px;
    color: var(--text-color);
}

.left-sidebar img {
    filter: invert(1);
}

.left-sidebar > div:first-child,
.left-sidebar > div > div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.left-sidebar > div ~ div {
    display: grid;
    gap: 24px;
    font-size: 1.2rem;
}

.left-sidebar > div {
    font-size: 1.5rem;
}

/* ARTICLE */

.article {
    display: grid;
    gap: 15px;
    padding: 15px 15px;
}

.article > div:first-child {
    font-size: 1.4rem;
    font-weight: bold;
}

.article > div:last-child {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.card {
    background-color: var(--main-background-color);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 8px 1fr;
}

.card > div:first-child {
    background-color: var(--accent-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.card > div:last-child {
    display: grid;
    gap: 15px;
    padding: 15px;
}

.card > div:last-child > div:first-child {
    align-self: start;
    font-size: 1.2rem;
    font-weight: bold;
}

.card > div:last-child > div:last-child {
    place-self: end;
}