@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --sidebar-color: #C63D2F;
    --accent-color: #FFBB5C;
    --main-background-color: #F4F2DE;
    --text-color: #e9dcdb;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* CONTAINER */

/* .container {

} */

/* HEADER */

.header {
    background-color: var(--text-color);
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    padding: 0.5rem 1rem;
}

.search {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 15px;
}

.search input{
    border-radius: 24px;
    border-style: none;
    background-color: var(--main-background-color);
    padding-left: 20px;
    padding-right: 20px;
}

.profile {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
}

.profile > img:nth-child(2) {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.welcome {
    display: flex;
    place-items: center;
    gap: 15px;
    font-size: 1.4rem;
    font-weight: bold;
}

.welcome > img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.buttons {
    display: flex;
    gap: 15px;
    place-self: center;
}

button {
    padding: 8px 16px;
    border-radius: 20px;
    border-style: none;
    background-color: var(--sidebar-color);
    color: var(--text-color);
    width: 120px;
}